{% extends "base.html" %}
{% load static %}

{% block nav_footer %}

<title>Category</title>
<style>
   
    .category {
        margin-bottom: 20px;

    }
    .detail-box{
        text-align: left;
        padding-left:100px
    }
    .category img {
        width:10em;
        height: 140px;
        border-radius:10px;

        
    }
    .card{
        height: 500px;
        border: 2px solid grey ;
        
    }
    .telegram-icon{
        width:25px;
        height: 25px;
        margin-right:5px;
    }
    .service_container {
        font-weight: 500;
        font-size: 19px;
        line-height: 5px;
        margin-top:0;
    }
/* Media Query for Mobile Devices */
@media (max-width: 768px) {

    /* Category */
    .category {
      margin-bottom: 15px;
    }
    hr{

      margin: 2px 0;
    }
  .ms-5{
    margin:0px;
  }
    /* Detail Box */
    .detail-box {
      text-align: left;
      padding-left: 20px;
      margin:0px;
    }
  
    /* Category Image */
    .category img {
      width: 8em;
      height: 120px;
      border-radius: 10px;
    }
  
    /* Card */
    .card {
      height: auto; /* Allow dynamic height for smaller screens */
      border: 1px solid grey;
      padding: 10px;
    }
  
    /* Telegram Icon */
    .telegram-icon {
      width: 20px;
      height: 20px;
      margin-right: 3px;
    }
  
    /* Service Container */
    .service_container {
      font-weight: 500;
      font-size: 16px;
      line-height: normal;
      margin-top: 10px;
    }
  }
  
</style>
</head>
<body>
    <section class="service_section layout_padding m-0">
          <div class="heading_container m-0">
            <h2 class="m-0">
              Our Service Providers
            </h2>
          </div>
    
          <div class="service_container m-0">
            {% if users %}
            {% for user1 in users %}
                {% if user1.user.user_type == 'Service Provider' %}
                <div class="col-md-4 ">
                <div class="box active ">
                    <p>{{ user1.category }}</p><hr>

              <div class="category" >
              
                     {% comment %} <img class="card-img-top"  src="{{ 'https://i.pravatar.cc' }}" alt="">     {% endcomment %}
                <img class="card-img-top"  src="{{ user1.image.url }}" alt=""> 
              </div>
              <div class="detail-box">

                <p>User ID: {{ user1.user.formatted_user_id }}</p><hr>
             <p>Gender: {{ user1.user.gender }}</p><hr>
             <p>Experience: {{ user1.experience }}</p><hr>
                <p>Address: {{ user1.address }}</p>
               <button class="btn btn-color">
                <a href="">
                    <img class="telegram-icon" src="{% static 'images/telegram.png' %}" alt="">
                  </a>talk on telegram
               </button> 
              </div>
            </div>
        </div>
        {% endif %}
            {% endfor %}
    </div>
            
        {% else %}
            <div class="col-12">
                <p>There are no service Providers in this Category</p>
            </div>
        </div>
    </div>
    {% endif %}

</section>
      

{% endblock nav_footer %}
