{% extends "base.html" %}
{% block content %}


<style>
  body{
    background-color: #eae6f5;

  }
  .form-signin {
    padding:10% 30% ;
  }
 
  .card{
    margin: 10px;
    border-radius:40px;
  
  }

  /* Media Query for Mobile Devices */
@media (max-width: 768px) {

  /* Background Color */
  body {
    background-color: #eae6f5;
  }

  /* Form Signin */
  .form-signin {
    padding: 5% 10%; /* Adjusted padding for smaller screens */
  }

  /* Card */
  .card {
    margin: 5px; /* Reduced margin for smaller screens */
    border-radius: 20px; /* Reduced border-radius for smaller screens */
  }
}

/* Media Query for Extra Small Devices */
@media (max-width: 480px) {

  /* Form Signin */
  .form-signin {
    padding: 5% 5%; /* Further reduced padding for very small screens */
  }

  /* Card */
  .card {
    margin: 5px; /* Reduced margin */
    border-radius: 15px; /* Smaller border-radius for better fit */
  }
}


</style>


<main class="form-signin w-100 m-auto ">
  <div class="card shadow" >
    <div class="card-body m-3">
      <h2>Password Reset Complete</h2>
      <p>Your password has been set. You can now <a href="{% url 'login' %}">log in</a> with the new password.</p>
     
  </div>
</div>
  </main>


{% endblock %}
