{% extends "base.html" %}
{% block content %}

<style>
  body{
    background-color: #eae6f5;

  }
  .form-signin {
    padding:10% 30% ;
  }
 
  .card{
    margin: 10px;
    border-radius:40px;
  
  }
  .btn-color{
    background:#4b208c;
    color: white;
    border-radius:13px;
  }
</style>


<main class="form-signin w-100 m-auto ">
  <div class="card shadow" >
    <div class="card-body m-3">
      <h2>Set New Password</h2>
      <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn-color form-control font-weight-bolder fst- mt-2"  type="submit">Reset my password</button>
    </form>     
  </div>
</div>
  </main>



{% endblock %}
