{% extends 'base.html' %}
{% load widget_tweaks %}

{% block nav_footer %}

<style>
    .form-signin {
      padding:1% 30% ;
      background-color: #eae6f5;

      
    }
    .card{
        margin: 10px;
        background-color: #eae6f5;
        border:5px solid #4b208c;
        border-radius:40px;
    
    }
    .btn-color:hover {
      color: grey;
    }
    .space{
      background-color: #eae6f5;
    }
    /* Media Query for Tablets and Smaller Screens */
@media (max-width: 768px) {
  
  /* Form Signin */
  .form-signin {
    padding: 2% 15%; /* Adjust padding for tablets */
  }

  /* Card */
  .card {
    margin: 8px; /* Reduce margin for better alignment on tablets */
    border-radius: 30px; /* Adjust border radius */
  }


}

/* Media Query for Mobile Devices */
@media (max-width: 480px) {

  /* Form Signin */
  .form-signin {
    padding: 2% 5%; /* Further reduce padding for mobile */
  }

  /* Card */
  .card {
    margin: 5px; /* Smaller margin for mobile devices */
    border-radius: 20px; /* Adjust border radius for mobile */
  }

.btn{
  font-size:small;
}
}

    </style>
    <main class="form-signin w-100 m-auto">
        <div class="card shadow" >
          <div class="card-body m-3">
            {% if messages %}
            <span class="messages">
                {% for message in messages %}
                <p class="alert alert-{{ message.tags }}">{{ message }}</p>
                {% endfor %}
            </span>
            {% endif %}          

<h2>Complete your profile</h2>
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
   
    <div class="form-group">
    <label for="category">Category</label>
    {{ form.category|add_class:"form-control space" }}  
    </div>
    <label for="">Experience</label>
    {% render_field form.experience|add_required_class:"is-required" class+="form-control m-1 space" %}
    <label for="">Address</label>
    {% render_field form.address|add_required_class:"is-required" class+="form-control m-1 space" %}
    <label for="">personal Photo</label>
    {% render_field form.image|add_required_class:"is-required" class+="form-control m-1 space" %}
    {% for error in field.errors %}
    <span class="help-block">{{ error }}</span>
    {% endfor %}
    <div class="container">
      <div class="row">
          <div class="col-6">
              <button class="btn btn-color fw-bolder fs-5 w-100" onclick="location.href='{% url 'dashboard' %}'">Back</button>
          </div>
          <div class="col-6">
              <button class="btn btn-color fw-bolder fs-5 w-100" type="submit">Submit</button>
          </div>
      </div>
  </div>
  
</form>
</div>

</main>



{% endblock nav_footer %}