{% extends 'base.html' %}
{% load widget_tweaks %}

{% block nav_footer %}

<style>
    .form-signin {
      padding:1% 30% ;
    }
    .card{
      margin: 10px;
      background-color: #eae6f5;
      border:5px solid #4b208c;
      border-radius:40px;
  
  }
    </style>
    <main class="form-signin w-100 m-auto">
        <div class="card shadow" >
          <div class="card-body m-3">
            {% if messages %}
            <span class="messages">
                {% for message in messages %}
                <p class="alert alert-{{ message.tags }}">{{ message }}</p>
                {% endfor %}
            </span>
            {% endif %}          

<h2>Complete your profile</h2>
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <label for="">Phone number</label>
    {% render_field form.phone_number|add_required_class:"is-required" class+="form-control m-1 space" %}
   
    <label for="">Address</label>
    {% render_field form.address|add_required_class:"is-required" class+="form-control m-1 space" %}
    <label for="">personal Photo</label>
    {% render_field form.image|add_required_class:"is-required" class+="form-control m-1 space" %}
    {% for error in field.errors %}
    <span class="help-block">{{ error }}</span>
    {% endfor %}
    <div class="container">
      <div class="row">
          <div class="col-6">
              <button class="btn btn-color fw-bolder fs-5 w-100" onclick="location.href='{% url 'dashboard' %}'">Back</button>
          </div>
          <div class="col-6">
              <button class="btn btn-color fw-bolder fs-5 w-100" type="submit">Submit</button>
          </div>
      </div>
    </div>
</form>
</div>

</main>



{% endblock nav_footer %}